@{
    ViewData["Title"] = "Color Calculator";
}

<div class="calculator-page">
    <div class="gradient-orb orb-one"></div>
    <div class="gradient-orb orb-two"></div>
    <div id="calculator-root"></div>
</div>

@section Scripts {
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="~/js/calculator-app.js" asp-append-version="true"></script>
}
